In [26]:
import pandas as pd

file1 = '../data/raw/immoweb_data.csv'
file2 = '../Kristin/cleaned_properties.csv'

df1 = pd.read_csv(file1, dtype=str)  # dtype=str to avoid numeric issues
df2 = pd.read_csv(file2, dtype=str)

In [27]:
print("Shape of file1:", df1.shape)
print("Shape of file2:", df2.shape)

Shape of file1: (75511, 30)
Shape of file2: (75508, 30)

In [28]:
if df1.equals(df2):
    print("Files are exactly the same.")
else:
    print("Files differ.")

Files differ.

In [29]:
# Merge to find differences
merged = df1.merge(df2, how='outer', indicator=True)
diff_rows = merged[merged['_merge'] != 'both']
print(f"Number of differing rows: {len(diff_rows)}")
diff_rows.head(10)

Number of differing rows: 151019

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income,_merge
0,0,300000.0,APARTMENT,APARTMENT,Wallonia,Walloon Brabant,Nivelles,1348,50.670463,4.6075182,...,0.0,0,1,MISSING,58.0,A,MISSING,0,NaN,left_only
1,0,3000000,APARTMENT,APARTMENT,Wallonia,Walloon Brabant,Nivelles,1348,50.670463,4.6075182,...,0,0,1,MISSING,58.0,A,MISSING,0,NaN,right_only
2,100000,325000.0,HOUSE,HOUSE,Flanders,East Flanders,Sint-Niklaas,9120,51.2158653,4.2519533,...,0.0,0,0,MISSING,385.0,D,GAS,1,2545.0,left_only
3,100000,3250000,HOUSE,HOUSE,Flanders,East Flanders,Sint-Niklaas,9120,51.2158653,4.2519533,...,0,0,0,MISSING,385.0,D,GAS,1,2545.0,right_only
4,1000000,310000.0,HOUSE,HOUSE,Wallonia,Luxembourg,Marche-en-Famenne,6940,50.3462905,5.3931678,...,2472.0,0,1,GOOD,325.0,D,GAS,1,505.0,left_only
5,1000000,3100000,HOUSE,HOUSE,Wallonia,Luxembourg,Marche-en-Famenne,6940,50.3462905,5.3931678,...,2472,0,1,GOOD,325.0,D,GAS,1,505.0,right_only
6,10000000,285000.0,HOUSE,HOUSE,Flanders,Limburg,Hasselt,3800,50.8192907,5.1770649,...,NaN,0,0,TO_BE_DONE_UP,277.0,C,GAS,1,NaN,left_only
7,10000000,2850000,HOUSE,HOUSE,Flanders,Limburg,Hasselt,3800,50.8192907,5.1770649,...,NaN,0,0,TO_BE_DONE_UP,277.0,C,GAS,1,NaN,right_only
8,10002000,351500.0,HOUSE,HOUSE,Wallonia,Namur,Namur,5100,50.4033971,4.8756969,...,0.0,0,1,MISSING,NaN,MISSING,GAS,1,NaN,left_only
9,10002000,3515000,HOUSE,HOUSE,Wallonia,Namur,Namur,5100,50.4033971,4.8756969,...,0,0,1,MISSING,NaN,NaN,GAS,1,NaN,right_only

In [30]:
# Only consider rows where latitude and longitude are numeric
valid_coords = df1['latitude'].notna() & df1['longitude'].notna()

# Check for outliers within valid coordinates
lat_outliers = valid_coords & ~df1['latitude'].between(49.5, 52.5)
lon_outliers = valid_coords & ~df1['longitude'].between(2.5, 6.5)

# Count outliers
print("Rows with latitude outliers:", lat_outliers.sum())
print("Rows with longitude outliers:", lon_outliers.sum())

# View problematic rows
outliers = df1.loc[lat_outliers | lon_outliers, ['id', 'latitude', 'longitude', 'locality', 'region']]
outliers

TypeError: '>=' not supported between instances of 'str' and 'float'