In [12]:
import pandas as pd

# Path to your raw CSV
RAW_PATH = (r"C:\Users\vande\becode\immo-eliza-cats-analysis\Nancy\sample_data_copy\properties.csv")

# Load CSV into a pandas DataFrame
df_raw = pd.read_csv(RAW_PATH)

# Quick look at first 5 rows
df_raw.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [13]:
# Automatically selects numeric columns
numeric_summary = df_raw.describe().T  # Transpose for readability

# Rename the 50% column to "median"
numeric_summary = numeric_summary.rename(columns={"50%": "median"})

# Show the summary
numeric_summary

,count,mean,std,min,25%,median,75%,max
id,75511.0,3.973235e+07,2.290417e+07,0.00000,1.989350e+07,3.972200e+07,5.954100e+07,7.948500e+07
price,75511.0,4.227709e+05,4.383586e+05,76000.00000,2.420000e+05,3.290000e+05,4.550000e+05,2.250000e+07
zip_code,75511.0,5.144609e+03,3.005490e+03,1000.00000,2.240000e+03,4.683000e+03,8.370000e+03,9.992000e+03
latitude,61413.0,5.088662e+01,3.497273e-01,25.76168,5.070586e+01,5.090092e+01,5.114864e+01,5.243424e+01
longitude,61413.0,4.328660e+00,9.509021e-01,-80.19179,3.764067e+00,4.376713e+00,4.876499e+00,6.385048e+00
construction_year,42120.0,1.984406e+03,4.152885e+01,1753.00000,1.962000e+03,1.994000e+03,2.022000e+03,2.024000e+03
total_area_sqm,67896.0,1.636707e+02,4.158511e+02,3.00000,9.100000e+01,1.270000e+02,1.850000e+02,8.814000e+04
surface_land_sqm,39255.0,1.157088e+03,1.011734e+04,0.00000,1.500000e+02,3.620000e+02,8.050000e+02,9.507740e+05
nbr_frontages,49165.0,2.802929e+00,8.891628e-01,1.00000,2.000000e+00,3.000000e+00,4.000000e+00,4.700000e+01
nbr_bedrooms,75511.0,2.787276e+00,1.894188e+00,0.00000,2.000000e+00,3.000000e+00,3.000000e+00,2.000000e+02
fl_furnished,75511.0,1.879196e-02,1.357905e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
fl_open_fire,75511.0,1.699090e-01,3.755553e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
fl_terrace,75511.0,5.908278e-01,4.916844e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
terrace_sqm,62371.0,1.157738e+01,3.872137e+01,0.00000,0.000000e+00,1.000000e+00,1.500000e+01,3.466000e+03
fl_garden,75511.0,2.182861e-01,4.130854e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
garden_sqm,72572.0,1.156403e+02,1.388760e+03,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+05
fl_swimming_pool,75511.0,1.868602e-02,1.354145e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
fl_floodzone,75511.0,5.438281e-01,4.980787e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
primary_energy_consumption_sqm,48944.0,1.688748e+03,1.589309e+05,-140.00000,1.280000e+02,2.420000e+02,3.920000e+02,2.023112e+07
fl_double_glazing,75511.0,6.767623e-01,4.677157e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
cadastral_income,30544.0,1.885941e+03,1.004971e+05,1.00000,5.450000e+02,8.500000e+02,1.249000e+03,1.700170e+07

In [14]:
# Skewness
numeric_summary["skewness"] = df_raw[numeric_summary.index].skew()

# Kurtosis
numeric_summary["kurtosis"] = df_raw[numeric_summary.index].kurtosis()
numeric_summary["kurtosis"]
numeric_summary["skewness"]

id                                  0.001885
price                               9.449612
zip_code                            0.088329
latitude                          -12.881368
longitude                         -22.918481
construction_year                  -1.192171
total_area_sqm                    146.961283
surface_land_sqm                   68.585462
nbr_frontages                       3.155196
nbr_bedrooms                       22.587421
fl_furnished                        7.087692
fl_open_fire                        1.757929
fl_terrace                         -0.369466
terrace_sqm                        48.556600
fl_garden                           1.363986
garden_sqm                         55.557534
fl_swimming_pool                    7.108938
fl_floodzone                       -0.175993
primary_energy_consumption_sqm    126.413862
fl_double_glazing                  -0.755874
cadastral_income                  160.931176
Name: skewness, dtype: float64

In [15]:
import pandas as pd

# Path to your raw CSV
RAW_PATH = (r"C:\Users\vande\becode\immo-eliza-cats-analysis\Nancy\cleaned_properties.csv")

# Load CSV into a pandas DataFrame
df_raw = pd.read_csv(RAW_PATH)

# Quick look at first 5 rows
df_raw.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,2250000,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0,0,0,NaN,231.0,C,GAS,1,922.0
1,2104000,4490000,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0,0,0,NaN,221.0,C,NaN,1,406.0
2,34036000,3350000,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0,0,1,AS_NEW,NaN,NaN,GAS,0,NaN
3,58496000,5010000,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0,0,1,NaN,99.0,A,NaN,0,NaN
4,48727000,9827000,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [16]:
# Automatically selects numeric columns
numeric_summary = df_raw.describe().T  # Transpose for readability

# Rename the 50% column to "median"
numeric_summary = numeric_summary.rename(columns={"50%": "median"})

# Show the summary
numeric_summary

,count,mean,std,min,25%,median,75%,max
id,75504.0,3.973212e+07,2.290421e+07,0.00000,1.989425e+07,3.972150e+07,5.954100e+07,7.948500e+07
price,75504.0,4.227615e+06,4.383481e+06,760000.00000,2.420000e+06,3.290000e+06,4.550000e+06,2.250000e+08
zip_code,75504.0,5.144677e+03,3.005437e+03,1000.00000,2.240000e+03,4.683000e+03,8.370000e+03,9.992000e+03
latitude,61407.0,5.088660e+01,3.497307e-01,25.76168,5.070578e+01,5.090089e+01,5.114863e+01,5.243424e+01
longitude,61407.0,4.328710e+00,9.508947e-01,-80.19179,3.764108e+00,4.376713e+00,4.876499e+00,6.385048e+00
construction_year,75504.0,1.106951e+03,9.860399e+02,0.00000,0.000000e+00,1.930000e+03,2.003000e+03,2.024000e+03
total_area_sqm,75504.0,1.471700e+02,3.974112e+02,0.00000,8.200000e+01,1.170000e+02,1.770000e+02,8.814000e+04
surface_land_sqm,39254.0,1.157114e+03,1.011747e+04,0.00000,1.500000e+02,3.620000e+02,8.050000e+02,9.507740e+05
nbr_frontages,75504.0,1.824976e+00,1.516467e+00,0.00000,0.000000e+00,2.000000e+00,3.000000e+00,4.700000e+01
nbr_bedrooms,75504.0,2.787362e+00,1.894224e+00,0.00000,2.000000e+00,3.000000e+00,3.000000e+00,2.000000e+02
fl_furnished,75504.0,0.000000e+00,0.000000e+00,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
fl_open_fire,75504.0,1.698983e-01,3.755459e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
fl_terrace,75504.0,5.908429e-01,4.916816e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
terrace_sqm,75504.0,9.563321e+00,3.546562e+01,0.00000,0.000000e+00,0.000000e+00,1.200000e+01,3.466000e+03
fl_garden,75504.0,2.183063e-01,4.130992e-01,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
garden_sqm,75504.0,1.111497e+02,1.361712e+03,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+05
fl_swimming_pool,75504.0,0.000000e+00,0.000000e+00,0.00000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
fl_floodzone,75504.0,5.438255e-01,4.980789e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
primary_energy_consumption_sqm,48939.0,1.688908e+03,1.589390e+05,-140.00000,1.280000e+02,2.420000e+02,3.920000e+02,2.023112e+07
fl_double_glazing,75504.0,6.767456e-01,4.677220e-01,0.00000,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
cadastral_income,30544.0,1.885941e+03,1.004971e+05,1.00000,5.450000e+02,8.500000e+02,1.249000e+03,1.700170e+07

In [17]:
# Skewness
numeric_summary["skewness"] = df_raw[numeric_summary.index].skew()

# Kurtosis
numeric_summary["kurtosis"] = df_raw[numeric_summary.index].kurtosis()
numeric_summary["kurtosis"]
numeric_summary["skewness"]

id                                  0.001919
price                               9.450827
zip_code                            0.088330
latitude                          -12.882137
longitude                         -22.921268
construction_year                  -0.229929
total_area_sqm                    151.532491
surface_land_sqm                   68.584608
nbr_frontages                       0.413729
nbr_bedrooms                       22.588168
fl_furnished                        0.000000
fl_open_fire                        1.758030
fl_terrace                         -0.369529
terrace_sqm                        52.366438
fl_garden                           1.363843
garden_sqm                         56.655663
fl_swimming_pool                    0.000000
fl_floodzone                       -0.175983
primary_energy_consumption_sqm    126.407404
fl_double_glazing                  -0.755792
cadastral_income                  160.931176
Name: skewness, dtype: float64