In [1]:
import pandas as pd

# Path to processed CSV
processed_path = r"C:\Users\vande\becode\immo-eliza-cats-analysis\Nancy\Data_quality.csv"

# Load CSV into a DataFrame
df = pd.read_csv(processed_path)

# Quick look at the data
df.head()

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN

In [2]:
# Number of observations (rows) and features (columns)
print("Shape of dataset:", df.shape)

# Info about column types and missing values
df.info()

# Basic stats for numeric columns
df.describe()

Shape of dataset: (75511, 30)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75511 entries, 0 to 75510
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              75511 non-null  int64
 1   price                           75511 non-null  float64
 2   property_type                   75511 non-null  object
 3   subproperty_type                75511 non-null  object
 4   region                          75511 non-null  object
 5   province                        75511 non-null  object
 6   locality                        75511 non-null  object
 7   zip_code                        75511 non-null  int64
 8   latitude                        61413 non-null  float64
 9   longitude                       61413 non-null  float64
 10  construction_year               42120 non-null  float64
 11  total_area_sqm                  67896 non-null  float64
 12  surface_land_sqm                39255 non-null  float64
 13  nbr_frontages                   49165 non-null  float64
 14  nbr_bedrooms                    75511 non-null  float64
 15  equipped_kitchen                75511 non-null  object
 16  fl_furnished                    75511 non-null  int64
 17  fl_open_fire                    75511 non-null  int64
 18  fl_terrace                      75511 non-null  int64
 19  terrace_sqm                     62371 non-null  float64
 20  fl_garden                       75511 non-null  int64
 21  garden_sqm                      72572 non-null  float64
 22  fl_swimming_pool                75511 non-null  int64
 23  fl_floodzone                    75511 non-null  int64
 24  state_building                  75511 non-null  object
 25  primary_energy_consumption_sqm  48944 non-null  float64
 26  epc                             75511 non-null  object
 27  heating_type                    75511 non-null  object
 28  fl_double_glazing               75511 non-null  int64
 29  cadastral_income                30544 non-null  float64
dtypes: float64(12), int64(9), object(9)
memory usage: 17.3+ MB

,id,price,zip_code,latitude,longitude,construction_year,total_area_sqm,surface_land_sqm,nbr_frontages,nbr_bedrooms,...,fl_open_fire,fl_terrace,terrace_sqm,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,primary_energy_consumption_sqm,fl_double_glazing,cadastral_income
count,7.551100e+04,7.551100e+04,75511.000000,61413.000000,61413.000000,42120.000000,67896.000000,39255.000000,49165.000000,75511.000000,...,75511.000000,75511.000000,62371.000000,75511.000000,72572.000000,75511.000000,75511.000000,4.894400e+04,75511.000000,3.054400e+04
mean,3.973235e+07,4.227709e+05,5144.609342,50.886625,4.328660,1984.406054,163.670746,1157.087505,2.802929,2.787276,...,0.169909,0.590828,11.577384,0.218286,115.640288,0.018686,0.543828,1.688748e+03,0.676762,1.885941e+03
std,2.290417e+07,4.383586e+05,3005.490110,0.349727,0.950902,41.528850,415.851108,10117.338517,0.889163,1.894188,...,0.375555,0.491684,38.721366,0.413085,1388.760283,0.135415,0.498079,1.589309e+05,0.467716,1.004971e+05
min,0.000000e+00,7.600000e+04,1000.000000,25.761680,-80.191790,1753.000000,3.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.400000e+02,0.000000,1.000000e+00
25%,1.989350e+07,2.420000e+05,2240.000000,50.705856,3.764067,1962.000000,91.000000,150.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.280000e+02,0.000000,5.450000e+02
50%,3.972200e+07,3.290000e+05,4683.000000,50.900919,4.376713,1994.000000,127.000000,362.000000,3.000000,3.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.420000e+02,1.000000,8.500000e+02
75%,5.954100e+07,4.550000e+05,8370.000000,51.148644,4.876499,2022.000000,185.000000,805.000000,4.000000,3.000000,...,0.000000,1.000000,15.000000,0.000000,0.000000,0.000000,1.000000,3.920000e+02,1.000000,1.249000e+03
max,7.948500e+07,2.250000e+07,9992.000000,52.434244,6.385048,2024.000000,88140.000000,950774.000000,47.000000,200.000000,...,1.000000,1.000000,3466.000000,1.000000,150000.000000,1.000000,1.000000,2.023112e+07,1.000000,1.700170e+07

In [3]:
# Quantitative variables
quantitative_vars = df.select_dtypes(include=['int64', 'float64']).columns.tolist()

# Qualitative variables
qualitative_vars = df.select_dtypes(include=['object', 'bool', 'category']).columns.tolist()

print("Number of quantitative variables:", len(quantitative_vars))
print(quantitative_vars)

print("\nNumber of qualitative variables:", len(qualitative_vars))
print(qualitative_vars)

Number of quantitative variables: 21
['id', 'price', 'zip_code', 'latitude', 'longitude', 'construction_year', 'total_area_sqm', 'surface_land_sqm', 'nbr_frontages', 'nbr_bedrooms', 'fl_furnished', 'fl_open_fire', 'fl_terrace', 'terrace_sqm', 'fl_garden', 'garden_sqm', 'fl_swimming_pool', 'fl_floodzone', 'primary_energy_consumption_sqm', 'fl_double_glazing', 'cadastral_income']

Number of qualitative variables: 9
['property_type', 'subproperty_type', 'region', 'province', 'locality', 'equipped_kitchen', 'state_building', 'epc', 'heating_type']