{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# 4. Correlation & Relationship Analysis\n",
    "\n",
    "This notebook focuses on investigating the relationships between variables, especially with the property price. We will load the processed data and calculate correlations."
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-18T13:56:47.071055Z",
     "start_time": "2025-11-18T13:56:45.215286Z"
    }
   },
   "cell_type": "code",
   "source": [
    "import pandas as pd\n",
    "import os\n",
    "\n",
    "# Define the path to the processed data file\n",
    "processed_data_path = os.path.join('..', 'data', 'processed', 'immoweb_processed_data.csv')\n",
    "\n",
    "# Load the data into a pandas DataFrame\n",
    "try:\n",
    "    df = pd.read_csv(processed_data_path)\n",
    "    print('Processed data loaded successfully for correlation analysis.')\n",
    "    print('DataFrame Info:')\n",
    "    df.info()\n",
    "    print('First 5 rows:')\n",
    "    display(df.head())\n",
    "except FileNotFoundError:\n",
    "    print(f'Error: The file was not found at {processed_data_path}')"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Processed data loaded successfully for correlation analysis.\n",
      "DataFrame Info:\n",
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 75511 entries, 0 to 75510\n",
      "Data columns (total 34 columns):\n",
      " #   Column                          Non-Null Count  Dtype  \n",
      "---  ------                          --------------  -----  \n",
      " 0   id                              75511 non-null  int64  \n",
      " 1   price                           75511 non-null  float64\n",
      " 2   property_type                   75511 non-null  object \n",
      " 3   subproperty_type                75511 non-null  object \n",
      " 4   region                          75511 non-null  object \n",
      " 5   province                        75511 non-null  object \n",
      " 6   locality                        75511 non-null  object \n",
      " 7   zip_code                        75511 non-null  int64  \n",
      " 8   latitude                        75511 non-null  float64\n",
      " 9   longitude                       75511 non-null  float64\n",
      " 10  construction_year               75511 non-null  float64\n",
      " 11  total_area_sqm                  67896 non-null  float64\n",
      " 12  surface_land_sqm                75511 non-null  float64\n",
      " 13  nbr_frontages                   75511 non-null  float64\n",
      " 14  nbr_bedrooms                    75511 non-null  float64\n",
      " 15  equipped_kitchen                75511 non-null  object \n",
      " 16  fl_furnished                    75511 non-null  int64  \n",
      " 17  fl_open_fire                    75511 non-null  int64  \n",
      " 18  fl_terrace                      75511 non-null  int64  \n",
      " 19  terrace_sqm                     75511 non-null  float64\n",
      " 20  fl_garden                       75511 non-null  int64  \n",
      " 21  garden_sqm                      72572 non-null  float64\n",
      " 22  fl_swimming_pool                75511 non-null  int64  \n",
      " 23  fl_floodzone                    75511 non-null  int64  \n",
      " 24  state_building                  75511 non-null  object \n",
      " 25  primary_energy_consumption_sqm  75511 non-null  float64\n",
      " 26  epc                             75511 non-null  object \n",
      " 27  heating_type                    75511 non-null  object \n",
      " 28  fl_double_glazing               75511 non-null  int64  \n",
      " 29  price_log                       75511 non-null  float64\n",
      " 30  total_area_sqm_log              67896 non-null  float64\n",
      " 31  surface_land_sqm_log            75511 non-null  float64\n",
      " 32  terrace_sqm_log                 75511 non-null  float64\n",
      " 33  garden_sqm_log                  72572 non-null  float64\n",
      "dtypes: float64(16), int64(9), object(9)\n",
      "memory usage: 19.6+ MB\n",
      "First 5 rows:\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "         id     price property_type subproperty_type            region  \\\n",
       "0  34221000  225000.0     APARTMENT        APARTMENT          Flanders   \n",
       "1   2104000  449000.0         HOUSE            HOUSE          Flanders   \n",
       "2  34036000  335000.0     APARTMENT        APARTMENT  Brussels-Capital   \n",
       "3  58496000  501000.0         HOUSE            HOUSE          Flanders   \n",
       "4  48727000  982700.0     APARTMENT           DUPLEX          Wallonia   \n",
       "\n",
       "          province  locality  zip_code   latitude  longitude  ...  \\\n",
       "0          Antwerp   Antwerp      2050  51.217172   4.379982  ...   \n",
       "1    East Flanders      Gent      9185  51.174944   3.845248  ...   \n",
       "2         Brussels  Brussels      1070  50.842043   4.334543  ...   \n",
       "3          Antwerp  Turnhout      2275  51.238312   4.817192  ...   \n",
       "4  Walloon Brabant  Nivelles      1410  50.900919   4.376713  ...   \n",
       "\n",
       "   state_building  primary_energy_consumption_sqm      epc  heating_type  \\\n",
       "0         MISSING                           231.0        C           GAS   \n",
       "1         MISSING                           221.0        C       MISSING   \n",
       "2          AS_NEW                           242.0  MISSING           GAS   \n",
       "3         MISSING                            99.0        A       MISSING   \n",
       "4          AS_NEW                            19.0       A+           GAS   \n",
       "\n",
       "   fl_double_glazing  price_log  total_area_sqm_log  surface_land_sqm_log  \\\n",
       "0                  1  12.323860            4.615121              5.894403   \n",
       "1                  1  13.014780                 NaN              6.523562   \n",
       "2                  0  12.721889            4.962845              5.894403   \n",
       "3                  0  13.124363            5.236442              6.226537   \n",
       "4                  0  13.798060            5.135798              5.894403   \n",
       "\n",
       "   terrace_sqm_log  garden_sqm_log  \n",
       "0         1.791759        0.000000  \n",
       "1         0.000000        0.000000  \n",
       "2         0.693147        0.000000  \n",
       "3         0.000000        0.000000  \n",
       "4         3.044522        4.962845  \n",
       "\n",
       "[5 rows x 34 columns]"
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>id</th>\n",
       "      <th>price</th>\n",
       "      <th>property_type</th>\n",
       "      <th>subproperty_type</th>\n",
       "      <th>region</th>\n",
       "      <th>province</th>\n",
       "      <th>locality</th>\n",
       "      <th>zip_code</th>\n",
       "      <th>latitude</th>\n",
       "      <th>longitude</th>\n",
       "      <th>...</th>\n",
       "      <th>state_building</th>\n",
       "      <th>primary_energy_consumption_sqm</th>\n",
       "      <th>epc</th>\n",
       "      <th>heating_type</th>\n",
       "      <th>fl_double_glazing</th>\n",
       "      <th>price_log</th>\n",
       "      <th>total_area_sqm_log</th>\n",
       "      <th>surface_land_sqm_log</th>\n",
       "      <th>terrace_sqm_log</th>\n",
       "      <th>garden_sqm_log</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>34221000</td>\n",
       "      <td>225000.0</td>\n",
       "      <td>APARTMENT</td>\n",
       "      <td>APARTMENT</td>\n",
       "      <td>Flanders</td>\n",
       "      <td>Antwerp</td>\n",
       "      <td>Antwerp</td>\n",
       "      <td>2050</td>\n",
       "      <td>51.217172</td>\n",
       "      <td>4.379982</td>\n",
       "      <td>...</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>231.0</td>\n",
       "      <td>C</td>\n",
       "      <td>GAS</td>\n",
       "      <td>1</td>\n",
       "      <td>12.323860</td>\n",
       "      <td>4.615121</td>\n",
       "      <td>5.894403</td>\n",
       "      <td>1.791759</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2104000</td>\n",
       "      <td>449000.0</td>\n",
       "      <td>HOUSE</td>\n",
       "      <td>HOUSE</td>\n",
       "      <td>Flanders</td>\n",
       "      <td>East Flanders</td>\n",
       "      <td>Gent</td>\n",
       "      <td>9185</td>\n",
       "      <td>51.174944</td>\n",
       "      <td>3.845248</td>\n",
       "      <td>...</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>221.0</td>\n",
       "      <td>C</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>1</td>\n",
       "      <td>13.014780</td>\n",
       "      <td>NaN</td>\n",
       "      <td>6.523562</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>34036000</td>\n",
       "      <td>335000.0</td>\n",
       "      <td>APARTMENT</td>\n",
       "      <td>APARTMENT</td>\n",
       "      <td>Brussels-Capital</td>\n",
       "      <td>Brussels</td>\n",
       "      <td>Brussels</td>\n",
       "      <td>1070</td>\n",
       "      <td>50.842043</td>\n",
       "      <td>4.334543</td>\n",
       "      <td>...</td>\n",
       "      <td>AS_NEW</td>\n",
       "      <td>242.0</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>GAS</td>\n",
       "      <td>0</td>\n",
       "      <td>12.721889</td>\n",
       "      <td>4.962845</td>\n",
       "      <td>5.894403</td>\n",
       "      <td>0.693147</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>58496000</td>\n",
       "      <td>501000.0</td>\n",
       "      <td>HOUSE</td>\n",
       "      <td>HOUSE</td>\n",
       "      <td>Flanders</td>\n",
       "      <td>Antwerp</td>\n",
       "      <td>Turnhout</td>\n",
       "      <td>2275</td>\n",
       "      <td>51.238312</td>\n",
       "      <td>4.817192</td>\n",
       "      <td>...</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>99.0</td>\n",
       "      <td>A</td>\n",
       "      <td>MISSING</td>\n",
       "      <td>0</td>\n",
       "      <td>13.124363</td>\n",
       "      <td>5.236442</td>\n",
       "      <td>6.226537</td>\n",
       "      <td>0.000000</td>\n",
       "      <td>0.000000</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>48727000</td>\n",
       "      <td>982700.0</td>\n",
       "      <td>APARTMENT</td>\n",
       "      <td>DUPLEX</td>\n",
       "      <td>Wallonia</td>\n",
       "      <td>Walloon Brabant</td>\n",
       "      <td>Nivelles</td>\n",
       "      <td>1410</td>\n",
       "      <td>50.900919</td>\n",
       "      <td>4.376713</td>\n",
       "      <td>...</td>\n",
       "      <td>AS_NEW</td>\n",
       "      <td>19.0</td>\n",
       "      <td>A+</td>\n",
       "      <td>GAS</td>\n",
       "      <td>0</td>\n",
       "      <td>13.798060</td>\n",
       "      <td>5.135798</td>\n",
       "      <td>5.894403</td>\n",
       "      <td>3.044522</td>\n",
       "      <td>4.962845</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>5 rows × 34 columns</p>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    }
   ],
   "execution_count": 1
  },
  {
   "metadata": {},
   "cell_type": "markdown",
   "source": [
    "## T019: Calculate Correlation Between Variables and Price\n",
    "\n",
    "We will now calculate the Pearson correlation coefficient between all numerical variables and the `price` variable. This will help us understand which features have a linear relationship with the property price."
   ]
  },
  {
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-18T13:56:47.421804Z",
     "start_time": "2025-11-18T13:56:47.329424Z"
    }
   },
   "cell_type": "code",
   "source": [
    "if 'df' in locals():\n",
    "    # Select only numerical columns for correlation calculation\n",
    "    numerical_df = df.select_dtypes(include=['number'])\n",
    "\n",
    "    num_cols = ['price', 'total_area_sqm', 'surface_land_sqm', 'terrace_sqm','garden_sqm', 'nbr_bedrooms', 'construction_year', 'primary_energy_consumption_sqm']\n",
    "    # Calculate correlation with 'price'\n",
    "    # if 'price' in numerical_df.columns:\n",
    "    if set(num_cols).issubset(numerical_df.columns):\n",
    "        price_correlations = numerical_df[num_cols].corr()\n",
    "        print(\"Correlation with 'price' variable:\")\n",
    "        display(price_correlations)\n",
    "    else:\n",
    "        print(\"'price' column not found in numerical data for correlation calculation.\")"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Correlation with 'price' variable:\n"
     ]
    },
    {
     "data": {
      "text/plain": [
       "                                   price  total_area_sqm  surface_land_sqm  \\\n",
       "price                           1.000000        0.583571          0.326626   \n",
       "total_area_sqm                  0.583571        1.000000          0.413396   \n",
       "surface_land_sqm                0.326626        0.413396          1.000000   \n",
       "terrace_sqm                     0.160917        0.092741          0.058733   \n",
       "garden_sqm                      0.127851        0.232967          0.342097   \n",
       "nbr_bedrooms                    0.361005        0.621831          0.244806   \n",
       "construction_year              -0.040249       -0.216029         -0.100487   \n",
       "primary_energy_consumption_sqm -0.001651        0.003797          0.001694   \n",
       "\n",
       "                                terrace_sqm  garden_sqm  nbr_bedrooms  \\\n",
       "price                              0.160917    0.127851      0.361005   \n",
       "total_area_sqm                     0.092741    0.232967      0.621831   \n",
       "surface_land_sqm                   0.058733    0.342097      0.244806   \n",
       "terrace_sqm                        1.000000    0.247292      0.053548   \n",
       "garden_sqm                         0.247292    1.000000      0.159777   \n",
       "nbr_bedrooms                       0.053548    0.159777      1.000000   \n",
       "construction_year                  0.052030   -0.096369     -0.147005   \n",
       "primary_energy_consumption_sqm    -0.003602    0.000172      0.003463   \n",
       "\n",
       "                                construction_year  \\\n",
       "price                                   -0.040249   \n",
       "total_area_sqm                          -0.216029   \n",
       "surface_land_sqm                        -0.100487   \n",
       "terrace_sqm                              0.052030   \n",
       "garden_sqm                              -0.096369   \n",
       "nbr_bedrooms                            -0.147005   \n",
       "construction_year                        1.000000   \n",
       "primary_energy_consumption_sqm          -0.000744   \n",
       "\n",
       "                                primary_energy_consumption_sqm  \n",
       "price                                                -0.001651  \n",
       "total_area_sqm                                        0.003797  \n",
       "surface_land_sqm                                      0.001694  \n",
       "terrace_sqm                                          -0.003602  \n",
       "garden_sqm                                            0.000172  \n",
       "nbr_bedrooms                                          0.003463  \n",
       "construction_year                                    -0.000744  \n",
       "primary_energy_consumption_sqm                        1.000000  "
      ],
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>price</th>\n",
       "      <th>total_area_sqm</th>\n",
       "      <th>surface_land_sqm</th>\n",
       "      <th>terrace_sqm</th>\n",
       "      <th>garden_sqm</th>\n",
       "      <th>nbr_bedrooms</th>\n",
       "      <th>construction_year</th>\n",
       "      <th>primary_energy_consumption_sqm</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>price</th>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.583571</td>\n",
       "      <td>0.326626</td>\n",
       "      <td>0.160917</td>\n",
       "      <td>0.127851</td>\n",
       "      <td>0.361005</td>\n",
       "      <td>-0.040249</td>\n",
       "      <td>-0.001651</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>total_area_sqm</th>\n",
       "      <td>0.583571</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.413396</td>\n",
       "      <td>0.092741</td>\n",
       "      <td>0.232967</td>\n",
       "      <td>0.621831</td>\n",
       "      <td>-0.216029</td>\n",
       "      <td>0.003797</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>surface_land_sqm</th>\n",
       "      <td>0.326626</td>\n",
       "      <td>0.413396</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.058733</td>\n",
       "      <td>0.342097</td>\n",
       "      <td>0.244806</td>\n",
       "      <td>-0.100487</td>\n",
       "      <td>0.001694</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>terrace_sqm</th>\n",
       "      <td>0.160917</td>\n",
       "      <td>0.092741</td>\n",
       "      <td>0.058733</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.247292</td>\n",
       "      <td>0.053548</td>\n",
       "      <td>0.052030</td>\n",
       "      <td>-0.003602</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>garden_sqm</th>\n",
       "      <td>0.127851</td>\n",
       "      <td>0.232967</td>\n",
       "      <td>0.342097</td>\n",
       "      <td>0.247292</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>0.159777</td>\n",
       "      <td>-0.096369</td>\n",
       "      <td>0.000172</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>nbr_bedrooms</th>\n",
       "      <td>0.361005</td>\n",
       "      <td>0.621831</td>\n",
       "      <td>0.244806</td>\n",
       "      <td>0.053548</td>\n",
       "      <td>0.159777</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>-0.147005</td>\n",
       "      <td>0.003463</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>construction_year</th>\n",
       "      <td>-0.040249</td>\n",
       "      <td>-0.216029</td>\n",
       "      <td>-0.100487</td>\n",
       "      <td>0.052030</td>\n",
       "      <td>-0.096369</td>\n",
       "      <td>-0.147005</td>\n",
       "      <td>1.000000</td>\n",
       "      <td>-0.000744</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>primary_energy_consumption_sqm</th>\n",
       "      <td>-0.001651</td>\n",
       "      <td>0.003797</td>\n",
       "      <td>0.001694</td>\n",
       "      <td>-0.003602</td>\n",
       "      <td>0.000172</td>\n",
       "      <td>0.003463</td>\n",
       "      <td>-0.000744</td>\n",
       "      <td>1.000000</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ]
     },
     "metadata": {},
     "output_type": "display_data",
     "jetTransient": {
      "display_id": null
     }
    }
   ],
   "execution_count": 2
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## T021: Determine Appropriate Measures for Correlations Between Qualitative and Quantitative Variables\n",
    "\n",
    "When analyzing the relationship between qualitative (categorical) and quantitative (numerical) variables, traditional Pearson correlation is not suitable. Instead, we can use statistical tests like ANOVA (Analysis of Variance) to determine if there are significant differences in the means of the quantitative variable across different groups of the qualitative variable.\n",
    "\n",
    "For this analysis, we will focus on key qualitative variables such as `property_type`, `region`, `province`, `locality`, `equipped_kitchen`, `state_building`, `epc`, and `heating_type` and their relationship with the `price` (quantitative) variable. We will use ANOVA to test for significant differences in `price` across categories of these qualitative variables."
   ]
  },
  {
   "cell_type": "code",
   "metadata": {
    "ExecuteTime": {
     "end_time": "2025-11-18T13:56:50.796652Z",
     "start_time": "2025-11-18T13:56:48.008439Z"
    }
   },
   "source": [
    "from scipy import stats\n",
    "import pandas as pd\n",
    "\n",
    "\n",
    "def perform_anova_test(df: pd.DataFrame, group_col: str, target_col: str = 'price'):\n",
    "    print(f\"- **{group_col}** vs. **{target_col}**:\")\n",
    "\n",
    "    # 1. Initial Check and Data Preparation\n",
    "    if target_col not in df.columns or group_col not in df.columns:\n",
    "        print(f\"  > Skipping: '{target_col}' or '{group_col}' not found.\")\n",
    "        return\n",
    "\n",
    "    # Filter out NaNs for the required columns and select the working subset\n",
    "    temp_df = df[[group_col, target_col]].dropna()\n",
    "\n",
    "    # 2. Check for sufficient unique groups\n",
    "    n_unique = temp_df[group_col].nunique()\n",
    "    if n_unique <= 1:\n",
    "        print(f\"  > Only **{n_unique}** unique category found. ANOVA not applicable.\")\n",
    "        return\n",
    "\n",
    "    # 3. Create groups for ANOVA\n",
    "    # Collects the 'price' values for each category into a list of arrays\n",
    "    try:\n",
    "        groups = [\n",
    "            temp_df[target_col].loc[temp_df[group_col] == category].values\n",
    "            for category in temp_df[group_col].unique()\n",
    "        ]\n",
    "    except Exception as e:\n",
    "        print(f\"  > Error creating groups: {e}\")\n",
    "        return\n",
    "\n",
    "    # 4. Check for empty groups (ANOVA requires at least one observation per group)\n",
    "    if not all(len(group) > 0 for group in groups):\n",
    "        print(\"  > Not enough non-NaN data in groups for ANOVA.\")\n",
    "        return\n",
    "\n",
    "    # 5. Perform ANOVA\n",
    "    # The *groups unpacks the list of arrays into separate arguments for f_oneway\n",
    "    f_statistic, p_value = stats.f_oneway(*groups)\n",
    "\n",
    "    # 6. Display Results\n",
    "    print(f\"  > F-statistic = **{f_statistic:.2f}**, p-value = **{p_value:.3f}**\")\n",
    "\n",
    "    alpha = 0.05\n",
    "    if p_value < alpha:\n",
    "        print(f\"  ✅ **Result:** There is a statistically significant difference in {target_col} across the categories (p < {alpha}).\")\n",
    "    else:\n",
    "        print(f\"  ❌ **Result:** No statistically significant difference in {target_col} across the categories (p ≥ {alpha}).\")\n",
    "\n",
    "\n",
    "def run_qualitative_anova_analysis(df: pd.DataFrame, target_col: str = 'price'):\n",
    "    # Check if the DataFrame exists in the current scope\n",
    "    if df is None:\n",
    "        print(\"Error: DataFrame 'df' is not defined.\")\n",
    "        return\n",
    "\n",
    "    # 1. Get relevant columns\n",
    "    qualitative_vars = df.select_dtypes(include=['object']).columns.tolist()\n",
    "\n",
    "    if not qualitative_vars:\n",
    "        print(\"No qualitative (object type) variables found for analysis.\")\n",
    "        return\n",
    "\n",
    "    print(f\"Qualitative Variables Found: {', '.join(qualitative_vars)}\")\n",
    "\n",
    "    # 2. Iterate and test\n",
    "    for q_var in qualitative_vars:\n",
    "        perform_anova_test(df, group_col=q_var, target_col=target_col)\n",
    "\n",
    "\n",
    "if 'df' in locals():\n",
    "    run_qualitative_anova_analysis(df=df)"
   ],
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Qualitative Variables Found: property_type, subproperty_type, region, province, locality, equipped_kitchen, state_building, epc, heating_type\n",
      "- **property_type** vs. **price**:\n",
      "  > F-statistic = **1395.50**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **subproperty_type** vs. **price**:\n",
      "  > F-statistic = **619.21**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **region** vs. **price**:\n",
      "  > F-statistic = **1147.38**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **province** vs. **price**:\n",
      "  > F-statistic = **486.38**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **locality** vs. **price**:\n",
      "  > F-statistic = **242.72**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **equipped_kitchen** vs. **price**:\n",
      "  > F-statistic = **590.67**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **state_building** vs. **price**:\n",
      "  > F-statistic = **319.97**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **epc** vs. **price**:\n",
      "  > F-statistic = **153.62**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n",
      "- **heating_type** vs. **price**:\n",
      "  > F-statistic = **44.10**, p-value = **0.000**\n",
      "  ✅ **Result:** There is a statistically significant difference in price across the categories (p < 0.05).\n"
     ]
    }
   ],
   "execution_count": 3
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.9.7"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 4
}