# 1. Data Loading

This notebook loads the raw Immoweb data from the `data/raw` directory.

In [9]:
import pandas as pd
import os

In [10]:
# Define the path to the raw data file
raw_data_path = os.path.join('', '..', 'data', 'raw', 'immoweb_intermediate_data.csv')

# Load the data into a pandas DataFrame
try:
    df = pd.read_csv(raw_data_path)
    print('Data loaded successfully.')
except FileNotFoundError:
    print(f'Error: The file was not found at {raw_data_path}')

Data loaded successfully.

In [11]:
# Display the first few rows of the DataFrame
if 'df' in locals():
    display(df.head())

,id,price,property_type,subproperty_type,region,province,locality,zip_code,latitude,longitude,...,fl_garden,garden_sqm,fl_swimming_pool,fl_floodzone,state_building,primary_energy_consumption_sqm,epc,heating_type,fl_double_glazing,cadastral_income
0,34221000,225000.0,APARTMENT,APARTMENT,Flanders,Antwerp,Antwerp,2050,51.217172,4.379982,...,0,0.0,0,0,MISSING,231.0,C,GAS,1,922.0
1,2104000,449000.0,HOUSE,HOUSE,Flanders,East Flanders,Gent,9185,51.174944,3.845248,...,0,0.0,0,0,MISSING,221.0,C,MISSING,1,406.0
2,34036000,335000.0,APARTMENT,APARTMENT,Brussels-Capital,Brussels,Brussels,1070,50.842043,4.334543,...,0,0.0,0,1,AS_NEW,NaN,MISSING,GAS,0,NaN
3,58496000,501000.0,HOUSE,HOUSE,Flanders,Antwerp,Turnhout,2275,51.238312,4.817192,...,0,0.0,0,1,MISSING,99.0,A,MISSING,0,NaN
4,48727000,982700.0,APARTMENT,DUPLEX,Wallonia,Walloon Brabant,Nivelles,1410,NaN,NaN,...,1,142.0,0,0,AS_NEW,19.0,A+,GAS,0,NaN